# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
les2/build
les2/bin
les3/build
les3/bin
les4/build
les4/bin
les5/build
les5/bin
les6/build
les6/bin

# Zip archives
*.zip

# User files
*.user
